<form (submit)="onSubmit($event)" novalidate>  
    <label for="currentPage">Current Page:</label>
    <input 
        id="currentPage" 
        type="number" 
        [attr.aria-invalid]="logForm.currentPage().touched() && logForm.currentPage().invalid()" 
        [formField]="logForm.currentPage"
        aria-describedby="current-page-error" />

    <div id="current-page-error">
        @if (logForm.currentPage().touched() && logForm.currentPage().invalid()) {
            <ul class="errors">
                @for (error of logForm.currentPage().errors(); track error.kind) {
                <li>{{ error.message }}</li>
                }
            </ul>
        }
  </div>

    <fieldset class="rating-options">
        <legend>Rating</legend>
        <div>
            <input id="rating-0" type="radio" value="0" [formField]="logForm.rating" />
            <label for="rating-0">Not rated</label>
        </div>
        @for (n of [1, 2, 3, 4, 5]; track n) {
            <div>
                <input [id]="'rating-' + n" type="radio" [value]="'' + n" [formField]="logForm.rating" />
                <label [for]="'rating-' + n">{{ n }} {{ n === 1 ? 'star' : 'stars' }}</label>
            </div>
            }
    </fieldset>

    <label for="notes">Notes:</label>
    <textarea 
        id="notes" 
        [formField]="logForm.notes" 
        [attr.aria-invalid]="logForm.notes().touched() && logForm.notes().invalid()"
        aria-describedby="notes-error">
    </textarea>

    <p>{{ counter() }} / 500</p>

    <div id="notes-error">
        @if (logForm.notes().touched() && logForm.notes().invalid()) {
            <ul class="errors">
                @for (error of logForm.notes().errors(); track error.kind) {
                <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>

    <button type="submit">Save Log</button>
    <p role="status" class="status-msg" [class]="statusMessage().type === 'error' ? 'errors' : ''">
        {{ statusMessage().text }}
    </p>
</form>